@media only screen and (max-width: 1199px) {
  html {
    font-size: 13px;
  }

  header {
    nav {
      width: 90%;
    }

    .banners {
      width: 90%;
    }
  }

  .service-section {
    .service-center {
      width: 90%;
    }
  }

  .about-section {
    .about-center {
      width: 90%;
    }
  }

  .food-menu {
    .foodmenu-center {
      width: 90%;
    }
  }

  .booking-section {
    .booking-center {
      width: 90%;
    }
  }

  .team-mamber-section {
    .team-mamber-center {
      width: 90%;
    }
  }

  .testimonial-section {
    .testimonial-center {
      width: 90%;
    }
  }

  .contact-section{
      .contact-center{
          width: 90%;
      }
  }

  footer {
    .footer-center {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 15px;
  }

  header {
    height: 160vh;
    .navigation {
      nav {
        position: relative;
        background-color: $dark;
        margin-top: 0px;
        width: 100%;
        padding: 0 5%;

        ul {
          display: none;
          width: 100%;
          position: absolute;
          top: -450px;
          left: 0;
          display: flex;
          flex-direction: column;
          background-color: $dark;
          transition: 1s;
          z-index: -999;
          padding-left: 2.8rem;

          .dropdown {
            position: relative;
            ul {
              position: absolute;
              top: 48px;
              padding-left: 0px;
            }
          }
        }

        .hamburger {
          display: block;
          width: 40px;
          margin-top: 10px;

          .bars {
            border: 1px solid $grey;
            padding: 0 9px;
            color: $light-white;
            font-size: 1.6rem;
            border-radius: 2px;
            padding: 5px 9px;

            &:hover {
              border: 2px solid $grey;
              cursor: pointer;
            }
          }
        }

        .active {
          top: 60px;
        }
      }
    }

    .banners {
      width: 70%;

      .box {
        width: 100%;
        margin: 25px auto;
       
      }

      .text {
        text-align: center;

        summary {
          h1 {
            font-size: 3.5rem;
            width: 70%;
            margin: 0 auto;
          }
        }
      }

      .round-img {
        figure {
          @include center-items();
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .service-section {
    .service-center {
      width: 70%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .about-section {
    .about-center {
      width: 70%;
      grid-template-columns: repeat(2, 1fr);

      .boxs {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }

  .food-menu {
    .foodmenu-center {
      width: 70%;

      .menu-category {
        .category-center {
          width: 100%;
        }
      }

      .menu {
        width: 100%;
      }
    }
  }

  .booking-section{

    .booking-center{
        width: 70%;

        .bookings{
            width: 100%;
        }
    }
}

.team-mamber-section {

    .team-mamber-center{
        width: 70%;
        grid-template-columns: repeat(2,1fr);
    }
}

.testimonial-section{

    .testimonial-center{
        width: 70%;
    }

}

.contact-section{
    .contact-center{
        width: 70%;

    }
}

footer{
    .footer-center{
        width: 70%;
        padding: 80px 0px 40px 0px;

        .titel{       
            grid-template-columns: repeat(2,1fr); 
          
        }

        .copyrights{
          
            .left-text{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }

            .right-menu{
                width: 100%;      
                display: flex;
                justify-content: center;
           
              
            }
        }
    }
}


}

@media only screen and (max-width: 767px) {

    html{
        font-size: 14px;
    }

    .headings h3 {
        font-size: 2rem;
        
    }

    header{
        .banners{
            .text{
                summary{
                    h1{
                        width: 85%;
                        line-height: 60px;
                    }
                }
            }
        }
    }

    .booking-section{
        .booking-center {
            .form-section{
                form{
                    .w-50{
                        width: 100%;
                    }
                }
            }
        }
    }


    .about-section{
        .about-center{
            .details{
                .details-2{
                    .two_side{
                        width: 100%;
                        margin-bottom: 20px;

                    }
                }
            }
        }
    }

    .contact-section{
        .contact-center{
            .heading{

                .heading-1{
                    width: 100%;
                }
            }

         .contact{
             width: 100%;
             margin-bottom: 20px;
         }

         .form-section{
             form{
                 .w-50{
                     width: 100%;
                 }
             }
         }
    
        }
    }
}


@media only screen and (max-width: 576px){
  

    header{
        .banners{
            width: 90%;
          
            .text{
                summary{
                    h1{
                    
                        line-height: 60px;
                        font-size: 2.9rem;
                        width: 72%;
                        
                    }

                    .b-a-t{
                        padding: 12px 5%;
                        font-size: 1rem;
                    }
                }
            }

          

           
        }
    }

    .service-section{
        .service-center{
            width: 90%;
            grid-template-columns: repeat(1,1fr);            
        }
    }


    .about-section{
        .about-center{
            width: 90%;
        }
    }

    .food-menu{
        .foodmenu-center{
            width: 90%;
        }
    }

    .booking-section{
        .booking-center{
            width: 90%;

            .form-section{
                .heading{
                    h2{
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    .team-mamber-section{
        .team-mamber-center{
            width: 90%;
            grid-template-columns: repeat(1,1fr);

            .mamber{
                figure {
                    img{
                        width: 50%;
                    }
                }
            }


            
        }
    }

    .testimonial-section{
        
        .testimonial-center{
            width: 90%;
            
        }
    }

    footer{
        .footer-center{
            width: 90%;

            .titel{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }


}


@media only screen and (max-width: 467px) {
    
    .headings h3 {
        font-size: 2.5rem;
    }

    header{
      height: 145vh;
        .banners{
           .text{
            summary{
                h1{
                    font-size: 2.3rem;
                    line-height: 45px;
                    width: 70%;
                }
            }
           }
        }
    }

    .about-section{
        .about-center{
            .details{
                .details-1{
                    h2{
                        font-size: 2rem;
                    }
                }
            }
        }
    }


    .food-menu{
        .foodmenu-center{
            .menu{
                .menu-1{
                    .menu-dt{
                        width: 70%;

                        .tp{
                            h1{
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }


    .booking-section{
        .booking-center{
           

            .form-section{
                .headings{
                    h3{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }






}