.team-mamber-section {
  @include f-100();

  .mar-top{
    margin-top: 50px
  }

  .team-mamber-center {
    @include inner();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 40px 0;

    .mamber {
      text-align: center;
      border: 1px solid $light-white;
      padding: 20px;
      padding-bottom: 0px;
      height: calc(100% - 40px);
      overflow: hidden;
      transition: 0.5s;

      &:hover {
        height: 100%;
      }

      &:hover img {
        transform: scale(1.2);
      }

      figure {
        width: 100%;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          border-radius: 50%;
          transition: 1s;
        }
      }

      h1 {
        color: $dark;
        text-transform: capitalize;
        padding-top: 20px;
        font-size: 1.4rem;
        font-weight: 800;
      }

      h2 {
        color: $grey;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 400;
        font-family: "Heebo", sans-serif;
      }

      .font-a {
        margin-top: 20px;
        .social {
          background-color: $orange;
          color: $white;
          width: 40px;
          height: 40px;
          padding: 10px;
          font-size: 18px;
          border-radius: 20px 20px 0 0;
        }
      }
    }
  }
}
